* {
    margin: 0;
    padding: 0;
}


.card {
    margin: 1em;
    

}

.cards_movies {
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    
}

.carousel-item {
    max-height: 1350px;
}

.carousel-item img {
    border-radius: 10px;
}

.nav-item1 {
    margin-right: 10px;
    font-weight: bold;
    
}

.card-img-top {
    border-radius: 10px;
}

.nav-l {
    text-decoration: none;
}

.card {
    background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    padding: 5em;
    margin-top: 2em;
    background-color: brown;
    font-weight: bold;
    font-size: large;
}

